* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255, 255, 255);
    height: 100vh;
}

h5 {
color: rgb(15, 117, 24);
margin: auto;
padding: auto;
}

h4 {
    color: brown;
    margin: auto;
    padding: auto;
}

.container {
display: flex;
justify-content: center;
flex-direction: row;
}

.app {
    background: rgb(224, 218, 218);
    width: 99%;
    max-width: 1300px; /* Add 'px' to specify units */
    margin: 50px auto;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: gray;
    font-weight: 600;
    border-bottom: 1px solid brown;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.btn {
    background: rgb(8, 43, 63);
    color: bisque;
    font-weight: 400;
    width: 100%;
    border: 1px solid lightsalmon;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s;
}

.btn:hover:not([disabled]) {
    background: bisque;
    color: rgb(27, 27, 26);
}

.btn:disabled {
    cursor: no-drop;
}

#finish_btn {
    background: rgb(228, 124, 6);
    color: rgb(255, 255, 255);
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    display: none;
}

#next_btn {
    background: rgb(29, 151, 35);
    color: antiquewhite;
    font-weight: 600;
    width: 90px;
    border: 0;
    padding: 8px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    display: none;
}
#flag_btn {
    background: rgb(29, 151, 35);
    color: antiquewhite;
    font-weight: 600;
    width: 40px;
    border: 0;
    padding: 8px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    display: none;
}

#previous_btn {
    background: rgb(29, 151, 35);
    color: antiquewhite;
    font-weight: 600;
    width: 90px;
    border: 0;
    padding: 8px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    display: none;
}

.navigation-buttons {
display: flex;
flex-direction: row;
background-color: #3a4452;
text-align: center;
justify-content: center;
padding: 5px 5px 20px 5px;
border-radius: 5px;
/* display: none; */
}

.shit {
    background: brown;
    font-size: large;
    cursor: not-allowed;
}

.perfecto {
    background: rgb(82, 124, 20);
    font-size: larger;
    cursor: not-allowed;
}

.calculator-button {
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
    background-color: burlywood;
    color: black;
    font-weight: 700;
}

.calculator form input[type=button] {
    width: 50px;
    height: 40px;
    margin: 10px;
    background-color: rgb(247, 8, 139);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    background: transparent;
    font-size: 20px;
    color: #34b5ff;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.calculator {
    padding: 10px;
    border-radius: 10px;
    background: #3a4452;
    width: 350px;
    display: none;
}

.actived {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background: #3a4452;
    width: 350px;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.user-input {
display: flex;
justify-content: center;
width: 300px;
height: 30px;
border-radius: 20px;
background-color: aquamarine;
padding: 10px;
margin: 10px;
border: 1px solid white;
font-size: 21px;
}
.login-input {
display: flex;
justify-content: center;
width: 200px;
height: 30px;
margin: 10px 20px 20px 60px;
border-radius: 20px;
padding: auto;
color: blanchedalmond;
background-color: tomato;
border: 1px solid white;
cursor: pointer;
}
#loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 500px;
}
form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: transparent;
    width: 300px;
}

form input[type=button].operator {
    width: 10px;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid black;
    color: brown;
    background-color: wheat;
    width: 130px;
    text-align: center;
}


/* Responsive styles for tablets */
@media screen and (max-width: 1024px) {
    .app {
        width: 90%; /* Adjust the width of .app container */
        margin: 30px auto; /* Adjust margin */
        padding: 20px; /* Adjust padding */
    }
    .app h1 {
        padding: 20px; /* Adjust padding */
    }
    .user-input,
    .login-input {
        width: 250px; /* Adjust width */
        font-size: 18px; /* Adjust font size */
    }
    #loginForm {
        margin-left: 0; /* Reset margin */
    }
    form .display input {
        font-size: 35px; /* Adjust font size */
        width: 250px; /* Adjust width */
    }
    .timer {
        width: 100px; /* Adjust width */
        font-size: 18px; /* Adjust font size */
    }
    .question-image{
        width: 250px;
        height: 250px;
    }
}

/* Responsive styles for large screens */
@media screen and (min-width: 1440px) {
    .app {
        max-width: 1400px; /* Adjust max-width */
    }
    .user-input,
    .login-input {
        width: 300px; /* Adjust width */
        font-size: 20px; /* Adjust font size */
    }
    form .display input {
        font-size: 40px; /* Adjust font size */
        width: 300px; /* Adjust width */
    }
    .timer {
        width: 120px; /* Adjust width */
        font-size: 20px; /* Adjust font size */
    }
    .bullets .spans span {
        width: 50px; /* Adjust width */
        height: 15px; /* Adjust height */
        font-size: 8px; /* Adjust font size */
        padding: 2px; /* Adjust padding */
    }
    .question-image{
        width: 500px;
        height: 500px;
    }
    .sidebar {
        width: 20%; /* Adjust width */
    }
}

/* Responsive styles for mobile phones */
@media screen and (min-width: 100px) and (max-width: 768px) {
    .app {
        width: 80%; /* Adjust the width of .app container */
    }
    /* Adjust styles for h1 */
    .app h1 {
        padding: 5px;
    }
    /* Adjust styles for .sidebar */
    .sidebar {
        width: 20%; /* Adjust the width of .sidebar */
    }
    /* Adjust styles for .user-input and .login-input */
    .user-input,
    .login-input {
        width: auto; /* Allow width to adjust dynamically */
        font-size: 12px; /* Adjust font size */
    }
    /* Adjust styles for #loginForm */
    #loginForm {
        width: 90%; /* Adjust the width of the form */
    }
    /* Adjust styles for .timer */
    .timer {
        width: 100%; /* Adjust the width of the timer container */
    }
    /* Adjust styles for buttons */
    #next_btn,
    #previous_btn {
        width: 70px; /* Adjust the width of next and previous buttons */
        font-size: 10px; /* Adjust font size */
    }
    #flag_btn {
        width: 30px; /* Adjust the width of flag button */
        font-size: 7px; /* Adjust font size */
    }
    /* Adjust styles for .calculator */
    .calculator {
        width: 100%; /* Adjust the width of the calculator container */
    }
    /* Adjust styles for calculator buttons */
    .calculator form input[type=button] {
        width: 40px; /* Adjust the width of calculator buttons */
        height: 30px; /* Adjust the height of calculator buttons */
        font-size: 12px; /* Adjust font size */
        margin: 5px; /* Adjust margin */
    }
    /* Adjust styles for #finish_btn */
    #finish_btn {
        font-size: 12px; /* Adjust font size */
        padding: 6px; /* Adjust padding */
    }
    .bullets .spans span {
        width: 40px; /* Adjust width */
        height: 12px; /* Adjust height */
        font-size: 6px; /* Adjust font size */
        padding: 2px; /* Adjust padding */
    }
    .sidebar {
        width: 20%; /* Adjust width */
    }
    .question-image{
        width: 100px;
        height: 100px;
    }
}

.hidden {
    display: none;
}
.selected {
    color: rgb(135, 133, 146);
    font-weight: bolder;
    font-size: larger;
}

.bullets .spans {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border: 1px solid transparent;
    height: 100vh;
    overflow-y: hidden;
}
.bullets .spans span {
    width: 55px;
    height: 20px;
    padding: 2px 10px 5px 10px;
    background-color: #ddd;
    margin: 0 5px 5px 0;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(13, 201, 13);
    cursor: pointer;
}
.answered {
    background-color: #d6d7d8;
    color: gray;
    opacity: 0.9;
    border-radius: 100% 100% 0 0;
    font-size: larger;
    padding: auto;
}
.on {
    color: #34b5ff;
    background-color: aliceblue;
}
.bullets {
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid transparent;
    text-align: center;
    height: 100vh;
}
.sidebar {
    /* display: flex; */
    flex-direction: column;
    width: 9%;
    overflow: auto;
    height: 100vh;
    display: none;
}
.flagged {
background-image: url(https://www.google.com/url?sa=i&url=http%3A%2F%2Fsimpleicon.com%2Fflag.html&psig=AOvVaw0Hp5iiy70P8xTXplYN9QKR&ust=1716419302118000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMCws6jun4YDFQAAAAAdAAAAABAE);
}
.scratch {
    text-decoration: line-through;
}
#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.question-image{
    width: 400px;
    height: 400px;
    margin: auto;
    padding: auto;
}